/* CSS for section section:product-intro */
:root {
  --header-brown:#f1ddbb;
  --whatsapp-brown:#c19f72;
  --primary-brown: #493721;
  --hover-brown: #ab754f;
  --secondary-beige: #fae6d4;
  --brownis-red: #e8bdbd;
  --light-brown: #fae6d4;
  --lighter-gray: #e8e8e8;
  --text-gray: #5C5C5C;
  --lighter-tan: #e4cfb9;
  --accent-tan: #CBA278;
  --white: #FAFAFC;
  --soft-black: #1B1B1B;
  --placeholder-gray: #CCCCCC;
  --transparent-white: #f9f9fb;
  --yellow-header-footer: #F2E5C7;
  --semi-brown: #7F4A3A;
  --earthy-red: #af5033;
  --transparent-brown: #e1d5d2;
  --golden:#cba34a;
  --hover-golden:#d7ab4b;
  --head-brown:#6b2f1f;

  --cream:#e7dfdc;
  --transparent-grey : #ebecec;
  --transparent-yellow:#fdf6eb;

  --total-width: 100%;
  --screen-width-desktop: 1150px;
  --desktop-padding: 4rem;
  --desktop-vertical-margin: 20px;
  --desktop-horizontal-margin: 5%;

  --screen-width-mobile: 100vw;
  --mobile-padding: 1.1rem;
  --mobile-vertical-margin: 40px;

  --line-height-desktop: 30px;
  --title-fontsize-desktop: 48pt;
  --header-fontsize-desktop: 24pt;
  --slider-header-fontsize-desktop: 16pt;
  --caption-fontsize-desktop: 15px;

  --title-fontsize-mobile: 36pt;
  --header-fontsize-mobile: 20pt;
  --slider-header-fontsize-mobile: 12pt;
  --caption-fontsize-mobile: 14px;
  --line-height-mobile: 25px;
  --text-align-mobile: left;

  --button-fontsize-desktop: 10pt;
}


.product-intro-section {
  max-width: var(--screen-width-desktop);
  width: var(--total-width);
  padding-left: var(--desktop-padding);
  padding-right: var(--desktop-padding);
  padding-bottom: var(--desktop-padding);
  margin-top: var(--desktop-vertical-margin);
  background-color: var(--color-background);
}

.product-intro-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.product-intro-text {
  flex: 1;
}

.product-title {
  font-family: var(--font-main);
  font-size: var(--title-fontsize-desktop);
  font-weight: 500;
  color: var(--primary-brown);
  line-height: 1;
  margin: 0;
}

.title-separator {
  height: 1px;
  background-color: var(--primary-brown);
  width: 80px;
  margin-bottom: 20px;
}

.fullrounded {
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-width:200px; 
  border-radius: 100px !important;
  font-size: var(--button-fontsize-desktop);
}

.product-description {
  font-family: var(--font-main);
  font-size: var(--caption-fontsize-desktop);
  font-weight: 400;
  line-height: var(--line-height-desktop);
  width: var(--total-width);
  color: var(--color-text-dark);
  margin: 28px 0 28px;
}

.product-buttons {
  display: flex;
  gap: 10px;
}

.product-buttons .btn {
    /* padding: 0.3rem; */
    font-size: 1rem;
    /* text-decoration: none; */
  }

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  font-size: var(--button-fontsize-desktop);
  padding: 2px 26px;
}

.btn-outline {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: transparent;
  font-size: var(--button-fontsize-desktop);
  padding: 2px 8px;
}

.product-intro-media {
  display: flex;
  max-width: 497px;
  flex-direction: column;      
  justify-content: flex-end;
  height: 350px;  
  vertical-align: bottom;
}

.video-thumbnail {
  width: 500px;
  height: 315px;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .breadcrumb {
    font-size: 16px ;
    color: #888;
  }
  .product-intro-section {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    padding-bottom: 0;
    margin-top: 15px;
    margin-left: 2px;
  }

  .product-title {
    font-size: var(--title-fontsize-mobile)
  }

  .product-description {
    font-size: var(--caption-fontsize-mobile);
    line-height: var(--line-height-mobile);
  }

  .product-intro-content {
    flex-direction: column;
  }

  .product-intro-text {
    max-width: var(--total-width);
    text-align: var(--text-align-mobile);
  }

  .title-separator {
    height: 1px;
  }

  .product-intro-media {
    flex: 1;
    margin-top: 40px;
    margin-bottom: var(--mobile-vertical-margin);
  }

  .video-thumbnail {
    width: 86vw;
    height: 200px;
  }

  .product-buttons {
    justify-content: left;
    flex-direction: column;
    gap: var(--desktop-vertical-margin);
  }

  .product-buttons .btn {
    /* padding-top: 1.1rem;
    padding-bottom: 1.1rem; */
    font-size: 11pt;
  }
}

/* CSS for section section:banner */
.banner {
  margin-bottom: 0;
  width: 100vw;
  height: 50vh;
  background-image: url("banner.webp");
  background-attachment: fixed;
  background-position: center 60%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media (max-width: 768px) {
  .banner {
    height: 100px;
    background-position: center;
  }
}


.banner-image {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  margin: 0 !important;
}

/* CSS for section section:product-forms */
.product-forms-section {
  background-color: var(--color-background);
  max-width: var(--screen-width-desktop);
  width: var(--total-width);
  padding-top: var(--desktop-padding);
  padding-right: var(--desktop-padding);
  padding-left: var(--desktop-padding);
}

.product-forms-header {
  width: var(--total-width);
  margin: 0 auto 40px;
  text-align: left;
}

.product-forms-header .header-line {
  width: 56px;
  margin-bottom: 12px;
}

.product-forms-header h2 {
  font-size: var(--header-fontsize-desktop);
  font-weight: 500;
  color: var(--primary-brown);
  margin: 0 0 12px;
}

.product-forms-header p {
  font-size: var(--caption-fontsize-desktop);
  line-height: var(--line-height-desktop);
  color: var(--color-text-dark);
  margin: 0;
}

.product-tabs {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  /* border-top: 0.5px solid #000; */
  border-bottom: 0.5px solid #000;
  /* padding-top: 5px; */
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.tab-link {
  text-decoration: none;
  font-size: 12pt;
  font-weight: 300;
  color: var(--primary-brown);
  padding: 5px 0;
  position: relative;
  background-color: transparent;
  border: 1px solid var(--primary-brown);
  border-radius: 10px;
  width: 100px;
}

.tab-link:hover {
  font-size: 16px;
  font-weight: 300;
  color: var(--golden);
  background-color: var(--primary-brown);
  padding: 5px 0;
  position: relative;
}

.tab-link.active {
  font-weight: 700;
  color: var(--golden);
  background-color: var(--primary-brown);
}

.tab-content-wrapper {
  width: var(--total-width);
}

.tab-content {
  display: none;
  align-items: center;
  gap: 20%;
}

.tab-content.active {
  display: flex;
}

.product-form-image {
  flex-shrink: 0;
  width: 365px;
  height: 245px;
  border: 1px solid var(--primary-brown);
  border-radius: 20px;
  padding: 12px;
}

.product-form-image img {
  width: var(--total-width);
  height: var(--total-width);
  object-fit: cover;
}

.product-form-details {
  text-align: left;
}

.product-form-details h3 {
  font-size: var(--header-fontsize-desktop);
  font-weight: 500;
  color: var(--primary-brown);
  margin: 0 0 24px;
}

.product-form-details p {
  font-size: var(--caption-fontsize-desktop);
  font-weight: 500;
  line-height: var(--line-height-desktop);
  color: var(--semi-brown);
}

.product-form-details .btn {
  padding: 6px;
  width: 200px;
  font-size: var(--button-fontsize-desktop);
}

@media (max-width: 992px) {
  .tab-content.active {
    flex-direction: column;
  }

  .product-form-details {
    text-align: var(--text-align-mobile);
  }

  .product-form-details h3 {
    font-size: var(--header-fontsize-mobile);
    margin-bottom: 10px;
  }

  .product-form-details p {
    font-size: var(--caption-fontsize-mobile);
    line-height: var(--line-height-mobile);
  }
}

@media (max-width: 768px) {
  .product-forms-section {
    max-width: var(--screen-width-mobile);
    width: var(--total-width);
    padding-top: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    padding-left: var(--mobile-padding);
    margin-top: var(--desktop-vertical-margin);
  }

  .product-forms-header {
    text-align: var(--text-align-mobile);
  }

  .product-forms-header .header-line {
    margin-bottom: 12px;
  }

  .product-forms-header h2 {
    font-size: var(--header-fontsize-mobile);
  }

  .product-forms-header p {
    font-size: var(--caption-fontsize-mobile);
    line-height: var(--line-height-mobile);
  }

  .product-tabs {
    justify-content: space-around;
  }

  .product-form-image {
    width: var(--total-width);
    height: auto;
  }
}

#type-candlenut {
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

/* Slide out (content leaving) */
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.slide-out {
  animation-name: slideOut;
}

/* Slide in (new content appearing) */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation-name: slideIn;
}

.product-grid-section {
  background-color: var(--color-background);
  max-width: var(--screen-width-desktop);
  width: var(--total-width);
  padding-bottom: var(--desktop-padding);
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: var(--total-width);
  gap: 5%;
}

.product-type-card {
  border: 1px solid var(--primary-brown);
  border-radius: 20px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-beige);
}

.product-type-card h3 {
  font-weight: 500;
  text-align: left;
  color: var(--primary-brown);
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  line-height: var(--line-height-desktop);
  margin: 0;
}

.product-type-card p {
  font-weight: 500;
  text-align: left;
  margin-top: var(--desktop-vertical-margin);
  color: var(--semi-brown);
  line-height: 1.5;
  font-size: var(--caption-fontsize-desktop);
  padding-left: 2.5rem;
  padding-right: 2.5rem;  
}

.product-pict {
  height: auto;
  width: 15vw;
}

.product-shop-button {
  display: flex;
  justify-content: space-between;
  width: var(--total-width);
  margin-top: var(--desktop-vertical-margin);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
}
.product-shop-button .btn {
  padding: 0;
  border-radius: 100px;
  min-width: 48%;
  font-size: var(--button-fontsize-desktop);
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  .product-grid-section {
    max-width: var(--screen-width-mobile);
    width: var(--total-width);
    padding: 0;    
    margin-bottom: var(--mobile-vertical-margin);
  }

  .product-grid {
    overflow-x: scroll;
    scrollbar-width: none;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
    gap: 10%;
  }
  .product-pict {
    height: auto;
    width: 60vw;
  }

  .product-shop-button {
    flex-direction: column;
    gap: 5px;
    margin-top: var(--desktop-vertical-margin);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }

  .product-type-card {
    min-height: 500px;
    min-width: 60vw;
    padding-bottom: 20px;
  }

  .product-type-card h3 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .product-type-card p {
    font-size: var(--caption-fontsize-mobile);
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.product-packaging-section-bg {
  background-image: url('packaging-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.product-packaging-section {
  max-width: var(--screen-width-desktop);
  width: var(--total-width);
  padding: 2rem;

}

.packaging-header {
  font-size: var(--header-fontsize-desktop);
  text-align: left;
}

.packaging-header h2 {
  font-size: var(--header-fontsize-desktop);
  font-weight: 500;
  color: var(--white);
  margin: 0 0 9px;
}

.packaging-wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  align-items: start;
  justify-content: space-evenly;
}

.packaging-carousel {
  position: relative;
  display: flex;
  width: var(--total-width);
  overflow-x: hidden;
}

.packaging-carousel-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5%;
  transition: transform 0.6s ease-in-out;
}

.packaging-carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 250px;
  width: 220px;
  gap: 20px;
}

.packaging-carousel-content img {
  width: 172px;
  height: 172px;
  object-fit: cover;
  border-radius: 50%;
}

.packaging-text h3 {
  font-size: var(--slider-header-fontsize-desktop);
  font-weight: 500;
  color: var(--white);
  text-align: center;
}

.packaging-arrow {
  color: white;
  background-color: transparent;
  transition: color 0.3s ease;
  cursor: pointer;
  margin-top: 75px;
}

.packaging-arrow:hover {
  color: var(--primary-brown);
  background-color: transparent;
}

@media (max-width: 768px) { 
  .product-packaging-section-bg {
    margin-bottom: 30px;
  }

  .packaging-header h2 {
    font-size: var(--header-fontsize-mobile);
    margin: 0;
  }

  .packaging-text h3 {
    font-size: var(--slider-header-fontsize-mobile);
  }

  .packaging-carousel-track {
    gap: 0;
  }
  .packaging-carousel-content {
    width: 47.5vw;
  }
}

/* CSS for section section:nutrition contains */
.nutrition-section {
  max-width: var(--screen-width-desktop);
  width: var(--total-width);
  padding-left: var(--desktop-padding);
  padding-right: var(--desktop-padding);
  padding-bottom: var(--desktop-padding);
}

.nutrition-content {
  display: flex;
  align-items: flex-start;
  margin-top: var(--desktop-vertical-margin);
  gap: 8%;
}

.nutrition-title {
  width: var(--total-width);
}

.nutrition-title h2 {
  font-size: var(--header-fontsize-desktop);
  font-weight: 500;
  color: var(--primary-brown);
  line-height: var(--line-height-desktop);
  margin: 0;
}


.nutrition-title h3 {
  font-size: 16pt;
  font-weight: 400;
  color: var(--primary-brown);
  line-height: var(--line-height-desktop);
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.nutrition-verified {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  border: 1px solid var(--primary-brown);
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: var(--secondary-beige);
}

.nutrition-verified img {
  width: 56%;
  height: auto;
}

.nutrition-verified-caption-normal {
  font-weight: 500;
  color: var(--semi-brown);
  font-size: var(--caption-fontsize-desktop);
}

.nutrition-verified-caption-bold {
  font-weight: 700;
  color: var(--primary-brown);
  font-size: var(--caption-fontsize-desktop);
}

.nutrition-table {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid var(--primary-brown);
  border-radius: 20px;
  padding: 1rem;
  background-color: var(--secondary-beige);
}

.nutrition-data-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.nutrition-data-title {
  color: var(--primary-brown);
  font-size: var(--caption-fontsize-desktop);
  font-weight: 500;
}

.nutrition-data-caption {
  color: var(--primary-brown);
  font-size: var(--caption-fontsize-desktop);
  font-weight: 500;  
}

.nutrition-data-separator {
  flex: 1;
  border-bottom: 2px dotted var(--primary-brown);
  position: relative;
  top: 0.3rem;
}

.nutrition-data-wrapper svg {
  margin-left: 5px;
  color: var(--semi-brown);
}

@media (max-width: 768px) {
  .nutrition-section {
    width: var(--total-width);
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    padding-bottom: var(--mobile-padding);
  }

  .nutrition-content {
    flex-direction: column;
  }
  .nutrition-verified {
    width: var(--total-width);
    margin-top: var(--mobile-vertical-margin);
  }

  .nutrition-title {
    width: var(--total-width);
  }

  .nutrition-verified-caption-normal {
    font-size: var(--caption-fontsize-mobile);
  }

  .nutrition-verified-caption-bold {
    font-size: var(--caption-fontsize-mobile);
  }

  .nutrition-title h2 {
    font-size: var(--header-fontsize-mobile);
    line-height: var(--line-height-mobile);
  }
  
  .nutrition-title h3 {
    font-size: 14pt;
    line-height: var(--line-height-mobile);
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: var(--mobile-vertical-margin);
  }

  .nutrition-table  {
    width: var(--total-width);
  }
  
}


/* CSS for section section:applications */
.applications-section {
  max-width: var(--screen-width-desktop);
  width: var(--total-width);
  padding-left: var(--desktop-padding);
  padding-right: var(--desktop-padding);
}

.applications-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.applications-title {
  width: 100%;
}

.applications-title h2 {
  font-size: var(--header-fontsize-desktop);
  font-weight: 500;
  color: var(--primary-brown);
  line-height: var(--line-height-desktop);
  margin: 0;
}

.applications-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin-top: var(--mobile-vertical-margin);
  gap: 5%;
}

.app-card {
  /* border: 1px solid var(--primary-brown); */
  border-radius: 20px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  text-align: center;
}

.app-card p {
  font-size: 11pt;
  font-weight: 500;
  color: var(--semi-brown);
  line-height: 1.2;
  margin: 0;
}

.app-icon-wrapper {
  position: relative;
  border: 2px solid var(--primary-brown);
  border-radius: 100%;
  width: 110px;
  height: 110px;
  background-color: var(--secondary-beige);
}

.app-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 73px;
  max-height: 73px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .applications-section {
    width: var(--total-width);
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    padding-bottom: var(--mobile-padding);
  }

  .applications-content {
    flex-direction: column;
    text-align: var(--text-align-mobile);
  }

  .applications-title {
    width: 100%;
  }

  .applications-title h2 {
    font-size: var(--header-fontsize-mobile);
    line-height: var(--line-height-mobile);
    margin-bottom: var(--mobile-vertical-margin);
  }

  .applications-grid {
    margin-top: 0;
    width: var(--total-width);
    gap: 0;
  }

  .app-card {
    height: 150px;
  }

  .app-card p {
    font-size: 8pt;
    line-height: 1.2;
  }

  .app-icon-wrapper {
    width: 60px;
    height: 60px;
    border: 1px solid var(--primary-brown);
  }

  .app-icon {
    max-width: 40px;
    max-height: 40px;
  }
}



/* CSS for section section:processing */
.processing-section {
  max-width: var(--screen-width-desktop);
  width: var(--total-width);
  padding: var(--desktop-padding);
  background-color: var(--color-background);
}

.processing-header {
  font-size: var(--header-fontsize-desktop);
  text-align: left;
}

.processing-header h2 {
  font-size: var(--header-fontsize-desktop);
  font-weight: 500;
  color: var(--primary-brown);  
  margin: 0 0 9px;
}

.processing-header p {
  font-size: var(--caption-fontsize-desktop);
  line-height: var(--line-height-desktop);
  color: var(--color-text-dark);
}

.processing-tab-content {
  text-align: start;
  background-color: #FFFAF6;
  border-radius: 15px 15px 15px 15px;
  width: var(--total-width);
  padding: var(--desktop-padding);
}

.processing-tab-content h2 {
  color: var(--semi-brown);
}

.processing-tab-content p {
  margin-top: var(--desktop-vertical-margin);
  margin-bottom: var(--desktop-vertical-margin);
  line-height: var(--line-height-desktop);
}

.processing-tab-content img {
  clip-path: circle(); 
  padding:20px; 
  height:250px; 
  width:250px; 
  border-radius:50%;
}

.carousel-indicators [data-bs-target] {
  width: 30px;
  height: 2px;
  background-color: var(--placeholder-gray); 
  opacity: 0.7;
  transition: all 0.3s ease;
}

.carousel-indicators .active {
  background-color: var(--semi-brown);
  opacity: 1;
  transform: scale(1.2);
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  opacity: 1;
  transition: all 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: transparent;
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0) saturate(100%) invert(20%) sepia(22%) saturate(942%) hue-rotate(353deg) brightness(96%) contrast(90%);
  transition: filter 0.3s ease;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  filter: brightness(0) saturate(100%) invert(54%) sepia(25%) saturate(594%) hue-rotate(338deg) brightness(94%) contrast(88%);
}

@media (max-width: 768px) {
  .processing-tab-content {
    min-height: 70vh;
    padding-top: var(--desktop-padding);
    padding-bottom: var(--desktop-padding);
  }
}

.processing-steps-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.processing-carousel {
  position: relative;
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.processing-carousel-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  transition: transform 0.6s ease-in-out;
}

.timeline-line {
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  z-index: 0;
}

.processing-carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 420px;
  width: 200px;
  gap: 20px;
}



.processing-carousel-content img {
  width: 172px;
  height: 172px;
  object-fit: cover;
  border-radius: 50%;
}

.step-text h3 {
  font-size: var(--slider-header-fontsize-desktop);
  font-weight: 500;
  color: var(--semi-brown);
  text-align: center;
}

.step-text p {
  font-size: var(--caption-fontsize-desktop);
  line-height: 1.5;
  color: var(--color-text-dark);
  text-align: center;
  max-width: 200px;
}

.carousel-arrow {
  color: black;
  background-color: transparent;
  transition: color 0.3s ease;
  cursor: pointer;
}

.carousel-arrow:hover {
  color: var(--primary-brown);
  background-color: transparent;
}

.timeline-point {
  width: 20px;
  height: 20px;
  z-index: 2;
  border-radius: 100%;
  background-color: var(--primary-brown);
}



@media (max-width: 768px) {

  .processing-section {
    padding: var(--mobile-padding);
  }

  .processing-header {
    text-align: var(--text-align-mobile);
    margin-bottom: var(--mobile-vertical-margin);
  }

  .processing-header h2 {
    font-size: var(--header-fontsize-mobile);
    margin: 0;
    margin-bottom: var(--desktop-vertical-margin);
  }

  .processing-header p {
    font-size: var(--caption-fontsize-mobile);
    line-height: var(--line-height-mobile);
  }

  .processing-carousel-track {
    gap: 0;
  }

  .processing-carousel-content {
    height: 420px;
    width: 47.5vw;
  }

  .step-text h3 {
    font-size: var(--slider-header-fontsize-mobile);
  }

  .step-text p {
    font-size: var(--caption-fontsize-mobile);
    line-height: 1.2;
  }
}