/* CSS for section section:product-intro */
:root {
  --header-brown: #f1ddbb;
  --whatsapp-brown: #c19f72;
  --primary-brown: #b56d3a;
  --dark-brown: #493721;
  --hover-brown: #ab754f;
  --secondary-beige: #fae6d4;
  --brownis-red: #e8bdbd;
  --light-brown: #fae6d4;
  --lighter-gray: #e8e8e8;
  --text-gray: #5C5C5C;
  --lighter-tan: #e4cfb9;
  --accent-tan: #CBA278;
  --white: #FAFAFC;
  --soft-black: #1B1B1B;
  --placeholder-gray: #CCCCCC;
  --transparent-white: #f9f9fb;
  --yellow-header-footer: #F2E5C7;
  --semi-brown: #7F4A3A;
  --transparent-brown: #dccbb6;

  --total-width: 100%;
  --screen-width-desktop: 1150px;
  --desktop-padding: 4rem;
  --desktop-vertical-margin: 20px;

  --screen-width-mobile: 100vw;
  --mobile-padding: 1.1rem;
  --mobile-vertical-margin: 40px;

  --line-height-desktop: 30px;
  --title-fontsize-desktop: 48pt;
  --header-fontsize-desktop: 24pt;
  --slider-header-fontsize-desktop: 16pt;
  --caption-fontsize-desktop: 11pt;

  --title-fontsize-mobile: 36pt;
  --header-fontsize-mobile: 20pt;
  --slider-header-fontsize-mobile: 12pt;
  --caption-fontsize-mobile: 14px;
  --line-height-mobile: 25px;

  --button-fontsize-desktop: 10pt;
}


.product-intro-section {
  max-width: var(--screen-width-desktop);
  width: var(--total-width);
  padding: var(--desktop-padding);
  margin-top: var(--desktop-vertical-margin);
  background-color: var(--color-background);
}

.breadcrumb-inactive {
  color: #595959;
  font-weight: 400;
}

.breadcrumb-active {
  color: var(--color-primary);
}

.product-intro-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.product-intro-text {
  flex: 1;
  /* max-width: 355px; */
}

.product-title {
  font-family: var(--font-main);
  font-size: var(--title-fontsize-desktop);
  font-weight: 500;
  color: var(--semi-brown);
  line-height: 1;
  margin: 0;
}

.title-separator {
  height: 1px;
  background-color: var(--semi-brown);
  width: 80px;
  margin-bottom: 20px;
}

.fullrounded {
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-width: 150px;
  border-radius: 100px !important;
  font-size: var(--button-fontsize-desktop);
}

.product-description {
  font-family: var(--font-main);
  font-size: var(--caption-fontsize-desktop);
  font-weight: 400;
  line-height: var(--line-height-desktop);
  width: var(--total-width);
  color: var(--color-text-dark);
  margin: 28px 0 28px;
}

.product-buttons {
  display: flex;
  gap: 10px;
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  font-size: var(--button-fontsize-desktop);
  padding: 2px 26px;
}

.btn-outline {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: transparent;
  font-size: var(--button-fontsize-desktop);
  padding: 2px 8px;
}

.product-intro-media {
  flex: 1;
  max-width: 497px;
}

.video-thumbnail {
  width: 400px;
  height: 250px;
}

@media (max-width: 768px) {
  .product-intro-section {
    padding: var(--mobile-padding);
  }

  .product-title {
    font-size: var(--title-fontsize-mobile)
  }

  .product-description {
    font-size: var(--caption-fontsize-mobile);
    line-height: var(--line-height-mobile);
  }

  .product-intro-content {
    flex-direction: column;
  }

  .product-intro-text {
    max-width: var(--total-width);
    text-align: justify;
  }

  .title-separator {
    height: 0;
  }

  .product-intro-media {
    flex: 1;
    margin-top: 40px;
    margin-bottom: var(--mobile-vertical-margin);
  }

  .video-thumbnail {
    width: 86vw;
    height: 200px;
  }

  .product-buttons {
    justify-content: left;
    gap: var(--desktop-vertical-margin);
  }
}

/* CSS for section section:banner */
.banner {
  margin-bottom: 0;
}

.banner-image {
  width: 100vw;
  height: auto;
  margin: 0 !important;
}

/* CSS for section section:product-forms */
.product-forms-section {
  background-color: var(--color-background);
  max-width: var(--screen-width-desktop);
  width: var(--total-width);
  padding: var(--desktop-padding);
}

.product-forms-header {
  width: var(--total-width);
  margin: 0 auto 40px;
  text-align: left;
}

.product-forms-header .header-line {
  width: 56px;
  margin-bottom: 12px;
}

.product-forms-header h2 {
  font-size: var(--header-fontsize-desktop);
  font-weight: 500;
  color: var(--semi-brown);
  margin: 0 0 12px;
}

.product-forms-header p {
  font-size: var(--caption-fontsize-desktop);
  line-height: var(--line-height-desktop);
  color: var(--color-text-dark);
  margin: 0;
}

.product-tabs {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-top: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
  margin-bottom: 40px;
}

.tab-link {
  text-decoration: none;
  font-size: 12pt;
  font-weight: 300;
  color: #000;
  padding: 5px 0;
  position: relative;
  background-color: transparent;
}

.tab-link:hover {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 300;
  color: var(--hover-brown);
  padding: 5px 0;
  position: relative;
  background-color: transparent;
}

.tab-link.active {
  font-weight: 700;
  color: var(--primary-brown);
}

.tab-content-wrapper {
  width: var(--total-width);
}

.tab-content {
  display: none;
  align-items: center;
  gap: 20%;
}

.tab-content.active {
  display: flex;
}

.product-form-image {
  flex-shrink: 0;
  width: 365px;
  height: 245px;
  border: 1px solid var(--primary-brown);
  border-radius: 20px;
  padding: 12px;
}

.product-form-image img {
  width: var(--total-width);
  height: var(--total-width);
  object-fit: cover;
}

.product-form-details {
  text-align: left;
}

.product-form-details h3 {
  font-size: var(--header-fontsize-desktop);
  font-weight: 500;
  color: var(--primary-brown);
  margin: 0 0 24px;
}

.product-form-details p {
  font-size: var(--caption-fontsize-desktop);
  font-weight: 500;
  line-height: var(--line-height-desktop);
  color: var(--semi-brown);
}

.product-form-details .btn {
  padding: 6px;
  width: 200px;
  font-size: var(--button-fontsize-desktop);
}

@media (max-width: 992px) {
  .tab-content.active {
    flex-direction: column;
  }

  .product-form-details {
    text-align: justify;
  }

  .product-form-details h3 {
    font-size: var(--header-fontsize-mobile);
    margin-bottom: 10px;
  }

  .product-form-details p {
    font-size: var(--caption-fontsize-mobile);
    line-height: var(--line-height-mobile);
  }
}

@media (max-width: 768px) {
  .product-forms-section {
    max-width: var(--screen-width-mobile);
    width: var(--total-width);
    padding: var(--mobile-padding);
    margin-bottom: var(--mobile-vertical-margin);
    margin-top: var(--desktop-vertical-margin);
  }

  .product-forms-header {
    text-align: justify;
  }

  .product-forms-header .header-line {
    margin-bottom: 12px;
  }

  .product-forms-header h2 {
    font-size: var(--header-fontsize-mobile);
  }

  .product-forms-header p {
    font-size: var(--caption-fontsize-mobile);
    line-height: var(--line-height-mobile);
  }

  .product-tabs {
    justify-content: space-around;
  }

  .product-form-image {
    width: var(--total-width);
    height: auto;
  }
}

#type-candlenut {
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

/* Slide out (content leaving) */
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.slide-out {
  animation-name: slideOut;
}

/* Slide in (new content appearing) */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation-name: slideIn;
}

.product-packaging-section-bg {
  background-image: url('packaging-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.product-packaging-section {
  max-width: var(--screen-width-desktop);
  width: var(--total-width);
  padding: 2rem;

}

.packaging-header {
  font-size: var(--header-fontsize-desktop);
  text-align: left;
}

.packaging-header h2 {
  font-size: var(--header-fontsize-desktop);
  font-weight: 500;
  color: var(--white);
  margin: 0 0 9px;
}

.packaging-wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.packaging-carousel {
  position: relative;
  display: flex;
  width: var(--total-width);
  overflow-x: hidden;
}

.packaging-carousel-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5%;
  transition: transform 0.6s ease-in-out;
}

.packaging-carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 250px;
  width: 200px;
  gap: 20px;
}

.packaging-carousel-content img {
  width: 172px;
  height: 172px;
  object-fit: cover;
  border-radius: 50%;
}

.packaging-text h3 {
  font-size: var(--slider-header-fontsize-desktop);
  font-weight: 500;
  color: var(--white);
  text-align: center;
}

.packaging-arrow {
  color: white;
  background-color: transparent;
  transition: color 0.3s ease;
  cursor: pointer;
}

.packaging-arrow:hover {
  color: var(--primary-brown);
  background-color: transparent;
}

@media (max-width: 768px) { 
  .product-packaging-section-bg {
    margin-bottom: 30px;
  }

  .packaging-header h2 {
    font-size: var(--header-fontsize-mobile);
    margin: 0;
  }

  .packaging-text h3 {
    font-size: var(--slider-header-fontsize-mobile);
  }

  .packaging-carousel-track {
    gap: 0;
  }
}

/* CSS for section section:applications */
.applications-section {
  max-width: var(--screen-width-desktop);
  width: var(--total-width);
  padding-left: var(--desktop-padding);
  padding-right: var(--desktop-padding);
}

.applications-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.applications-title {
  width: 30%;
}

.applications-title h2 {
  font-size: var(--header-fontsize-desktop);
  font-weight: 500;
  color: var(--primary-brown);
  line-height: var(--line-height-desktop);
  margin: 0;
}

.applications-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 40vw;
}

.app-card {
  border: 1px solid var(--primary-brown);
  border-radius: 20px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  text-align: center;
}

.app-card p {
  font-size: 11pt;
  font-weight: 500;
  color: var(--semi-brown);
  line-height: 1.2;
  margin: 0;
}

.app-icon-wrapper {
  position: relative;
  border: 2px solid var(--primary-brown);
  border-radius: 100%;
  width: 110px;
  height: 110px;
}

.app-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 73px;
  max-height: 73px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .applications-section {
    width: var(--total-width);
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    padding-bottom: var(--mobile-padding);
  }

  .applications-content {
    flex-direction: column;
    text-align: justify;
  }

  .applications-title {
    width: 100%;
  }

  .applications-title h2 {
    font-size: var(--header-fontsize-mobile);
    line-height: var(--line-height-mobile);
    margin-bottom: var(--mobile-vertical-margin);
  }

  .applications-grid {
    width: auto;
  }

  .app-card {
    height: 150px;
  }

  .app-card p {
    font-size: 8pt;
    line-height: 1.2;
  }

  .app-icon-wrapper {
    width: 60px;
    height: 60px;
    border: 1px solid var(--primary-brown);
  }

  .app-icon {
    max-width: 40px;
    max-height: 40px;
  }
}



/* CSS for section section:processing */
.processing-section {
  max-width: var(--screen-width-desktop);
  width: var(--total-width);
  padding: var(--desktop-padding);
  background-color: var(--color-background);
}

.processing-header {
  font-size: var(--header-fontsize-desktop);
  text-align: left;
}

.processing-header h2 {
  font-size: var(--header-fontsize-desktop);
  font-weight: 500;
  color: var(--primary-brown);
  margin: 0 0 9px;
}

.processing-header p {
  font-size: var(--caption-fontsize-desktop);
  line-height: var(--line-height-desktop);
  color: var(--color-text-dark);
}

.processing-steps-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.processing-carousel {
  position: relative;
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.processing-carousel-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  transition: transform 0.6s ease-in-out;
}

.timeline-line {
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  z-index: 0;
}

.processing-carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 420px;
  width: 200px;
  gap: 20px;
}

.processing-carousel-content img {
  width: 172px;
  height: 172px;
  object-fit: cover;
  border-radius: 50%;
}

.step-text h3 {
  font-size: var(--slider-header-fontsize-desktop);
  font-weight: 500;
  color: var(--semi-brown);
  text-align: center;
}

.step-text p {
  font-size: var(--caption-fontsize-desktop);
  line-height: 1.5;
  color: var(--color-text-dark);
  text-align: center;
  max-width: 200px;
}

.carousel-arrow {
  color: black;
  background-color: transparent;
  transition: color 0.3s ease;
  cursor: pointer;
}

.carousel-arrow:hover {
  color: var(--primary-brown);
  background-color: transparent;
}

.timeline-point {
  width: 20px;
  height: 20px;
  z-index: 2;
  border-radius: 100%;
  background-color: var(--primary-brown);
}

@media (max-width: 768px) {

  .processing-section {
    padding: var(--mobile-padding);
  }

  .processing-header {
    text-align: justify;
    margin-bottom: var(--mobile-vertical-margin);
  }

  .processing-header h2 {
    font-size: var(--header-fontsize-mobile);
    margin: 0;
    margin-bottom: var(--desktop-vertical-margin);
  }

  .processing-header p {
    font-size: var(--caption-fontsize-mobile);
    line-height: var(--line-height-mobile);
  }

  .processing-carousel-track {
    gap: 0;
  }

  .processing-carousel-content {
    height: 420px;
    width: 210px;
  }

  .step-text h3 {
    font-size: var(--slider-header-fontsize-mobile);
  }

  .step-text p {
    font-size: var(--caption-fontsize-mobile);
    line-height: 1.2;
  }
}