:root {
  --header-brown:#f1ddbb;
  --whatsapp-brown:#c19f72;
  --primary-brown: #b56d3a;
  --dark-brown: #493721;
  --hover-brown: #ab754f;
  --secondary-beige: #fae6d4;
  --brownis-red: #e8bdbd;
  --light-brown: #fae6d4;
  --lighter-gray: #e8e8e8;
  --text-gray: #5C5C5C;
  --lighter-tan: #e4cfb9;
  --accent-tan: #CBA278;
  --white: #FAFAFC;
  --soft-black: #1B1B1B;
  --placeholder-gray: #CCCCCC;
  --transparent-white: #f9f9fb;
  --yellow-header-footer: #F2E5C7;
  --semi-brown: #7F4A3A;
  --transparent-brown: #dccbb6;
}

html, body {
  overflow-x: hidden; /* hide accidental scroll */
}

* {
  box-sizing: border-box; /* fix padding+borders issue */
}

/* Fullscreen overlay loader */
#flavora-loader {
  position: fixed;
  inset: 0;
  background: #fdf9f3; /* warna natural krem */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Candlenut circle */
.candlenut {
  width: 60px;
  height: 60px;
  background: radial-gradient(circle at 30% 30%, #e6d6b8, #c2a878);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  animation: bounce 1.2s infinite ease-in-out;
}

/* bounce effect */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

/* fade-out animation */
.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease;
  pointer-events: none;
}

#floating-top-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  left: 20px;
  padding-top:8px;
  padding-left:1px;
  background-color: var(--white);
  color: var(--dark-brown);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
 
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

#floating-top-btn.show {
  opacity: 1;
  pointer-events: auto;
}

#floating-whatsapp-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  padding-top:8px;
  padding-left:1px;
  background-color: var(--white);
  color: var(--dark-brown);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

#floating-whatsapp-btn.show {
  opacity: 1;
  pointer-events: auto;
}

header {
  background-color: var(--header-brown);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}


header .logo {
  color: var(--primary-brown);
}

header nav a {
  color: var(--primary-brown);
  font-weight: 500;
  white-space: nowrap;
  flex-shrink: 0;
  padding-left:15px !important;
  padding-right:15px !important;
  padding-top:5px !important;
  padding-bottom:5px !important;
}

@media (max-width: 410px) {
  header nav {
  display: flex;
  align-items: center;
  gap: 0rem;
  flex-wrap: nowrap;
}

  header nav a {
    font-size: 0.9rem;
    margin-right: 0.1rem !important;
  }

  header nav a.btn {
    padding: 0.25rem 0.6rem;
    font-size: 0.85rem;
  }
}

header nav a:hover {
  color: var(--soft-black);
  font-weight: 500;
  white-space: nowrap;
  flex-shrink: 0;
}

header nav a.btn:hover {
  background-color: var(--hover-brown);
  color: var(--white);
  border-radius: 50px;
  font-weight: normal;
  white-space: nowrap;
  flex-shrink: 0;
}

header nav a.btn {
  background-color: var(--primary-brown);
  color: var(--white);
  border-radius: 50px;
  font-weight: normal;
  white-space: nowrap;
  flex-shrink: 0;
}


button,
a {
  transition: 0.2s;
}


.footer-button {
  color: var(--secondary-beige);

  &:hover {
    color: var(--accent-tan);
  }
}

.medsos{
  width:50px;
  padding-left:10px;
  padding-right:10px;
}

.certification-section{
  background:white;
}

.certification-section a {
  color: var(--text-gray);
  text-decoration : none;

  &:hover {
    color: var(--primary-brown);
    text-decoration: underline;
  }

}

.request-quotation-button {
  background-color: var(--white);
  border-radius: 50px;
  color: var(--primary-brown);
}

.main-page-container {
  /*background: #F4E2D8;*/
  margin: 0;

  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 10px; */
}

.footer-contact {
  background-color: var(--dark-brown);
  color: var(--white);

  p {
    margin: 0;
    font-size: 1.5rem;
    color: var(--white);
  }

  a {
    width: 200px;

  }

}

.footer-contact .container{
    margin-top: 4vh;
    margin-bottom: 6vh;
}



.footer-info {
  background-color: var(--dark-brown);
  display: flex;
  flex-wrap: wrap;

  a {
    color: white;
    text-decoration: none;
    font-size:10pt !important;

    &:hover {
      text-decoration: underline;

    }
  }
  
  .footer-logo{
      width: 8vh
  }
  
  h2 {
      color: var(--white);
  }
  
  p {
      color:  var(--white);
  }

  h6 {
    color: var(--white);
  }
  
  h5 {
    color: var(--white);
  }
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  min-height: 70vh;
  width: 100%;
  overflow: hidden;
  clip-path: ellipse(150% 100% at 50% 0%);
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-image:
    linear-gradient(to right, #e4cfb9 20%, transparent 100%),
    url('home/background-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  will-change: transform;
  transition: transform 0.1s ease-out;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 1150px;
  flex: 1;
  padding: 4rem;
}

.hero-caption {
  max-width: 500px;
}

.hero-caption h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #6b2f1f;
}

.hero-content p {
  margin: 1rem 0 2rem;
  color: #7a5b4a;
}

.hero-content li {
  color: #7a5b4a;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

/* Hide the checkbox */
#menu-toggle {
  display: none;
}

/* Burger icon styling */
.burger-icon {
  display: none;
  font-size: 4vh;
  color: var(--primary-brown, #663300);
  cursor: pointer;
  width: 6vh;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-brown);
  opacity:0.95;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay .menu {
  padding-bottom: 40px;
  text-decoration: none;
  font-size: 22px;
  color: var(--white);
  display: block;
  transition: 0.3s;
}

.overlay .menu:hover, .overlay .menu:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
    
@media (max-width: 768px) {
  .logo img{
      width:6vh;
  }  
}

/* Mobile view: stack buttons */
@media (max-width: 450px) {
  .btn-hidden-sm{
     display:none; 
  }
  
  .btn-show-sm{
      display:block !important;
  }
  
  .hero-buttons {
    flex-direction: column;
    align-items: stretch;
    /* Make them full width */
  }

  .hero-buttons .btn {
    width: 100%;
    text-align: center;
    padding: 1rem;
    /* bigger tap area */
    font-size: 1.1rem;
    /* slightly bigger text */
  }
  .footer-logo{
    width : 10vh !important;
  }
}

.btn {
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  font-weight: 500;
}

.btn.primary {
  padding-left:40px;
  padding-right:40px;
  background-color: var(--primary-brown);
  color: var(--white);

  &:hover {
    color: var(--white);
    background-color: var(--accent-tan);
    /* border: 1px solid var(--primary-brown); */
    /* color: var(--primary-brown); */
  }
}

.btn.secondary {
  padding-left:40px;
  padding-right:40px;
  border-color: var(--primary-brown);
  color: var(--primary-brown);

  &:hover {
    color: var(--white);
    background-color: var(--primary-brown);
  }
}

.fullrounded{
   padding-left:0px !important;
   padding-right:0px !important;
   min-width:200px; 
   border-radius:100px !important;    
}

.btn-whatsapp{
  background: var(--whatsapp-brown) !important;
  color: var(--primary-brown) !important;
  
  &:hover {
    color: var(--primary-brown);
    background-color: var(--hover-brown) !important;
  }
}

.motto {
  line-height: 1.8;
  padding-top:50px;
  padding-bottom:50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.motto h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-brown);
}

.motto p {
  max-width: 700px;
}

.nav-tabs-product {
  background-color: var(--accent-tan);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.quality-source-section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-brown);
}

.quality-source-section a {
  color: var(--primary-brown);
  text-decoration: underline;

  &:hover {
    color: var(--accent-tan);
    text-decoration: none;

  }
}

.quality-source-section button {
  background-color: var(--primary-brown);
  color: white;
  border: transparent;
  border-radius: 7px 7px 0px 0px;
  min-width: 100px;
  height: 40px;

  &:hover {
    background-color: #FFFAF6;
    font-weight: 650;
    color: var(--primary-brown);
    text-decoration: underline;

  }

}

.tab-scroll-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
  max-width: 10px;
}
.tab-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

#ingredientTab {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

#ingredientTab .nav-item {
  flex: 0 0 auto;
  /*margin-right: 4px;*/
}

#ingredientTab button {
  background-color: var(--primary-brown);
  color: white;
  border: none;
  border-radius: 7px 7px 0 0;
  min-width: 120px;
  height: 50px;
  /*font-weight: 500;*/
}

#ingredientTab button:hover {
  background-color: #FFFAF6;
  /*font-weight: 500;*/
  color: var(--primary-brown);
  text-decoration: underline;
}

#ingredientTabContent a {
  font-weight: 600;
  text-decoration : none;
}

.source-tab-content {
  text-align: start;
  background-color: #FFFAF6;
  border-radius: 0px 15px 15px 15px;
}

.source-tab-content p {
  padding-top:20px;
  padding-bottom:20px;
  line-height: 1.8 !important;
}

.offering {
  width: 100%;
  background-image: url('home/logo-white-image.webp');
  background-repeat: no-repeat;
  background-position: center left -200px;
  background-size: 40%; /* or try 100% auto */
  background-color: var(--transparent-white);
}

.offering .container{
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.offering h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-brown);
}

.offering h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-brown);
}

.offering .row {
  max-width: 1000px !important;
  margin: 0 auto;
}

.offering p {
    line-height: 1.8;
}

.offering .icon-offer{
    max-width:80px; 
    margin-top:-20px;
}

.box-top{
    background : var(--transparent-brown);
    width:165px; 
    margin:auto; 
    height:5px;
}

.plant-tour-section .container{
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.plant-tour-section h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-brown);
  margin-bottom: 6vh;
}

.plant-tour-section p {
  line-height:1.8;
}

.lang-switcher {
  color: var(--primary-brown);
}

.lang-switcher .active{
  font-weight: 600;
}
.lang-switcher a {
  color: inherit;
  padding: 0 4px;
}
.lang-switcher a:hover {
  text-decoration: underline !important;
}

.overlay .lang-switcher-mobile {
  position: absolute;
  bottom: 50px; /* adjust distance from bottom */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color:white;
}

.lang-data-mobile{
  color:white;    
}
#main-header {
  transition: transform 0.3s ease-in-out;
  /* For smooth transitions */
}

.header-hidden {
  transform: translateY(-100%);
  /* Adjust based on header height */
}

.global-footprint-section h2{
    line-height:1.8;
    text-align:left;
}

.global-footprint-section p{
    line-height:1.8;
    text-align:left;
}


/*ABOUT US*/

.breadcrumb {
  font-size: 14px;
  color: #888;
}

.breadcrumb a {
    color: var(--primary-brown);
    text-decoration:none;
}

.breadcrumb .breadcrumb-home {
    color:#888;
}

.about {
  width:100%;
  background:white;
  z-index:1;
}

.about .about-container {
  max-width:1150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
  padding : 4rem;
  margin: 0 auto;
}

.about-title {
  font-size: 5.5vh;
  font-weight: 500;
  line-height: 1.3;
  color:var(--semi-brown);
}

.about-content {
  margin-top:20px;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

.about-content strong {
  color: var(--primary-brown); /* brownish link */
  text-decoration: none;
  font-weight:500;
}

.aboutus-image{
    width: 100%;
    height:600px;
    z-index:-1;
}

.aboutus-image .bg-image {
  margin-top:-220px;
  width: 100%;
  height: 800px;
  background-image: url('about-us/background-aboutus.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index:-1;
}

/*.aboutus-image{*/
/*    width: 100%;*/
    /*height:600px;*/
/*    z-index:-1;*/
/*}*/

/*.aboutus-image .bg-image {*/
/*  width: 100%;*/
/*  height:434px;*/
/*  background-image: url('about-us/background-aboutus.webp');*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center center;*/
/*  z-index:-1;*/
/*}*/

.vision-mission {
    width:100%;
    background:white;
    z-index:2;
}

.vision-mission .vision-mission-container {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: start;
  z-index:2;
  background-image: url('about-us/logo-brown-image.webp');
  background-repeat: no-repeat;
  background-position:  bottom 20px left 100px;
  background-size: 25%; /* or try 100% auto */
}

/* 🔹 Content always above watermark */
.vision, .mission {
  position: relative;
  z-index: 2;
}

.vision h2, .mission h2 {
  color: var(--primary-brown); /* sesuai warna di contoh */
  margin-bottom: 1rem;
  border-bottom: 5px solid var(--transparent-brown);
  display: inline-block;
  padding-bottom: 0.3rem;
  font-weight: bold;
}

.vision p {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

.mission ol {
  margin: 0;
  padding-left: 1.2rem;
}

.mission ol li::marker {
  color: var(--primary-brown);
  font-weight: bold;
}

.mission li {
  margin-bottom: 1rem;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

.vision strong {
  color:  var(--primary-brown);
}

.mission strong {
  color:  var(--primary-brown);
}

.team-section {
  width:100%;
  z-index:1;
  background-color: var(--transparent-white);
}

.team-section .team-section-container {
  max-width: 1150px;
  margin: 0 auto; 
  text-align: center;
  padding: 4rem 2rem;
  background-color: var(--transparent-white); 
}

.team-section h2 {
  color: var(--primary-brown); 
  margin-bottom: 2rem;
  text-align:center;
  font-weight: bold;
}

.team-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 160px; /* left-right spacing */
  row-gap: 40px;  
  margin-bottom: 4rem;
  text-align:center;
}

.member-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  text-align:center;
}

.team-leader {
  max-width: 180px;
}

.team-leader img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; /* bulat */
  margin-bottom: 1rem;
}

.team-leader h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: #333;
}

.team-leader .role {
  font-size: 16px;
  color: var(--primary-brown);
  font-weight:500;
  margin-top: 0.3rem;
}

.team-member {
  min-width: 200px;
}

.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; /* bulat */
  margin-bottom: 1rem;
}

.team-member h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: #333;
}

.team-member .role {
  font-size: 16px;
  color: var(--primary-brown);
  font-weight:500;
  margin-top: 0.3rem;
}

.advantage {
  width: 100%;
  background-color: white;
}

.advantage .container{
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.advantage h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-brown);
}

@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
  }
  
  .about .about-container {
    grid-template-columns: 1fr; /* stack vertically */
    padding: 2rem; /* smaller padding for mobile */
    gap: 20px;     /* reduce gap */
  }

  .about-title {
    font-size: 5vh; 
  }

  .about-content {
    font-size: 14px;
  }
  
  .vision-mission .vision-mission-container {
    grid-template-columns: 1fr;
    text-align: left;
    background:none;
  }
  .mission ol {
    text-align: left;
  }
  
}