:root {
  --primary-brown: #8c542c;
  --secondary-beige: #fae6d4;
  --brownis-red: #e8bdbd;
  --light-brown: #fae6d4;
  --dark-brown: #5A2E0C;
  --text-gray: #5C5C5C;
  --lighter-tan: #e4cfb9;
  --accent-tan: #CBA278;
  --white: #FFFFFF;
  --soft-black: #1B1B1B;
  --placeholder-gray: #CCCCCC;
}



header {
  background-color: var(--accent-tan);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
  color: var(--primary-brown);
}

header nav a {
  color: var(--primary-brown);
  font-weight: 500;
}

header nav a:hover {
  color: var(--soft-black);
  font-weight: 500;
}

header nav a.btn:hover {
  border-color: var(--primary-brown);
  color: var(--primary-brown);
  border-radius: 50px;
}

header nav a.btn {
  background-color: var(--primary-brown);
  color: var(--white);
  border-radius: 50px;
}

footer {
  background-color: var(--secondary-beige);
  color: var(--soft-black);
}

footer a {
  color: var(--soft-black);
  text-decoration: none;
}

footer a:hover {
  color: var(--primary-brown);
  text-decoration: underline;
}

.request-quotation-button {
  background-color: var(--white);
  border-radius: 50px;
  color: var(--primary-brown);
}

.main-page-container {
  background: #F4E2D8;
  margin: 0;

  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-contact {
  background-color: #8C4A23;
  color: var(--white);

  p {
    margin: 0;
  }
}



.footer-info {
  background-color: #F2E5C7;
  display: flex;
  flex-wrap: wrap;

  a {
    color: #6B3F1D;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h6 {
    color: var(--primary-brown);
  }
}

.hero {
  display: flex;
  padding-top: 10vh;
  vertical-align: top;
  min-height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(to right, #e4cfb9 40%, transparent 100%),
    url('section-1-img.webp');
  clip-path: ellipse(150% 100% at 50% 0%);
  justify-content: center;
}

.hero-content {
  max-width: 1150px;
  flex: 1;
  padding: 4rem;  
}

.hero-caption {
  max-width: 600px;
}

.hero-caption h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #6b2f1f;
}

.hero-content p {
  margin: 1rem 0 2rem;
  color: #7a5b4a;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

/* Mobile view: stack buttons */
@media (max-width: 450px) {
  .hero-buttons {
    flex-direction: column;
    align-items: stretch; /* Make them full width */
  }

  .hero-buttons .btn {
    width: 100%;
    text-align: center;
    padding: 1rem; /* bigger tap area */
    font-size: 1.1rem; /* slightly bigger text */
  }
}

.btn {
  padding: 0.75rem 1.5rem;  
  text-decoration: none;
  font-weight: 500;
}

.btn.primary {
  background-color: white;
  color: #7a5b4a;
  border-radius: 50px;
}

.btn.secondary {
  background-color: #a8795f;
  color: white;
  border-radius: 50px;
}

.motto {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.motto h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #6b2f1f;
}

.btn.tersiary {
  background-color: var(--primary-brown);
  color: var(--white);
}

.nav-tabs-product {
  background-color: var(--accent-tan); border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;
}

.offering {
  width: 100%;
  background-color: var(--white);
  margin-bottom: 6vh;
}

.offering h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #6b2f1f;
}

.offering h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #6b2f1f;
}


.plant-tour-section h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #6b2f1f;
  margin-bottom: 6vh;
}

#main-header {
  transition: transform 0.3s ease-in-out;
  /* For smooth transitions */
}

.header-hidden {
  transform: translateY(-100%);
  /* Adjust based on header height */
}